.social-color-twitch {
    background-color: #9146FF;
}

.social-color-youtube {
    background-color: #FF0000;
}

.social-color-twitter {
    background-color: #000000;
}

.social-color-facebook {
    background-color: #3b5998;
}

.social-color-instagram {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.social-color-tiktok {
    background-color: #000000;
}

.social-color-discord {
    background-color: #5865F2;
}
